extends layout 

block content 

        h1 Log In
        -data = data || {}

        form(action="/login" method="POST" class="login-form")
            label(for="username") Username:
            input(
                type="text"
                id="username"
                name="username"
                class="form-control"
                value=data.name
            )

            label(for="password") Password:
            input(
                type="password"
                id="password"
                name="password"
                class="form-control"
                value=data.email
            )

            input(
                type="submit" 
                value="Log-In"
                class="btn btn-lg btn-primary btn-block"
            )       
            if message   
                each error in message
                    p.alert.alert-danger #{error}
