extends layout.pug 

block content 
    h1 Register
    -data = data || {}
        .box
            .row.align-items-center(style='height: 80vh;')
                .mx-auto.col-10.col-md-8.col-lg-6
                    if errors
                        ul.my-errors
                            for error in errors
                                li= error.msg
                    form(action="." method="POST" class="forms")
                        label(for="username") Username:
                        input(
                            type="text"
                            id="username"
                            name="username"
                            class="form-control"
                            value=data.name
                        )

                        label(for="password") Password:
                        input(
                            type="password"
                            id="password"
                            name="password"
                            class="form-control"
                            value=data.email
                        )

                        input(
                            type="submit" 
                            value="Sign-up"
                            class="btn btn-lg btn-primary"
                        )