extends layout 

block content 

    h1.logo JiveLive |
    p Search:
    form(action="#" method="POST" class="search")
                        input(
                            type="text"
                            id="search"
                            class="searchform form-control"
                        )

                        input(
                            id='Sbtn'
                            type="submit" 
                            value="Search"
                            class="btn btn-lg"
                        )