extends layout 

block content 

    h1.logo JiveLive |
    p.fsearch Friend Search:
    form(action="#" method="POST" class="search")
                        input(
                            type="text"
                            id="search"
                            class="searchform form-control"
                        )

                        input(
                            id='Sbtn'
                            type="submit" 
                            value="Search"
                            class="btn btn-lg"
                        )
    hr                   
    img(class='PFP' src='./photos/PFP.jpg' alt='Profile picture' width ='20%')     
    h2.nameh
     u Name 
    p.name Mark Blasio
    h2.favph 
     u Fave Plant  
    p.favp 
        | Philodendron 
        br
        |Gloriosum    
    h2.bio 
        u Bio   
    p.biop 
        |,znbvksndkvjsdigjdafjobsdfobnz;
        br
        |dfijgozisdjg;zsjdgoihZSDigjvzsdoihg
        br
        |vuOZSDHgijZSDgouhvzsduhgvisDHguvozjn
    h2.PO 
        u Plants Owned 
    .container.ownedplants
        .row.imagetiles
            .col-md-3
                img.img-responsive.owned(src='/photos/bromeliad.jpg' )
            .col-md-3
                img.img-responsive.owned(src='/photos/anthurium.jpg' ) 
            .col-md-3
                img.img-responsive.owned(src='/photos/monstera.jpg' )
            .col-md-3
                img.img-responsive.owned(src='/photos/philo.jpg' ) 
    .vl
    .col-lg
        img.img-responsive(src='/photos/philo.jpg')
    .vl2
    h2.notif 
        u  Notifications
    hr.two
    .container-fluid
        ul.notifications 
            li Plant_lady123 liked your photo
            li New seedling added
            li root.dood has commented on your photo
            li water-otter has sent you a new friend request
        h2.inbox 
            u Inbox
    hr.three
    .convo1
        i.fa-solid.fa-user.fa-2xl
        span
            u Seed_Feeder
        p Hey! how have you been?
    .convo2
        i.fa-solid.fa-user.fa-2xl
        span 
            u Branch-Manager
        p Hey! how have you been?
    .convo3
        i.fa-solid.fa-user.fa-2xl
        span 
            u Twiggy
        p Hey! how have you been?
